.blackb{
  background-color: #222d32;
}

.direct-chat-messages-seminar{
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  padding: 10px;
  height: 250px;
  overflow: auto;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

.login-page{
  background: url("../image/login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-logo a{
  color: #fff;
}

.login-logo{
    font-size: 28px;
}
